<pre style="font-size: 12px;white-space: pre-wrap;word-wrap: break-word;overflow: auto;">
登録していただいた個人情報は当社個人情報保護関連規程に基づいて適切に管理し、社外への提供は行いません。
なお、お申込み用のフォームには “google spreadsheet” 及び “doorkeeper” を利用しています。

■事業者名
株式会社永和システムマネジメント

■個人情報保護管理責任者
個人情報は、当社個人情報保護管理責任者のもとで漏洩、紛失、改ざん、破壊、または不正アクセス等の無いよう、適切に管理します。
＜個人情報保護管理責任者＞
〒918-8231 福井市問屋町3丁目111番地
株式会社永和システムマネジメント　取締役　小山　嘉雄
メールアドレス：privacy@esm.co.jp

■利用目的
個人情報は、以下の目的にのみ利用致します。
(1)イベント参加申込みや手続きに関する確認および案内
(2)請求書発送（請求書・銀行振込の場合のみ）
(3)イベント当日の受付
(4)製品・サービス情報のご案内

■第三者への提供
個人情報を、あらかじめ本人の同意を得ることなく第三者に開示・提供することはありません。
ただし、次に掲げる場合を除きます。
(1)法令に基づく場合
(2)人の生命、身体または財産などの重大な利益の保護のために必要な場合であり、本人の同意を得ることが困難である場合
(3)合併その他の事由による事業継承に伴って個人情報の提供が必要な場合

■個人情報の開示等
個人情報の開示、訂正、削除他のお問い合わせを希望される場合は、下記窓口までご連絡ください。
所定の手続きを経て対応致します。

お問い合わせ窓口および開示等請求の詳細については<a href="http://www.esm.co.jp/company/approach/approach_privacy.html">個人情報保護方針</a>をご参照ください。

■個人情報登録の任意性

お申込みされる方には、当社の個人情報の取り扱いについて同意の上、個人情報を登録していただきます。個人情報の登録は任意ですが、登録いただけない場合、お申込みを受け付けることができません。
</pre>
